<!DOCTYPE html>
<html>
  <head>
    <title>AlphaBlog - About</title>
   
  </head>

  <body>
    
    <h1>About Us</h1>
    
    <p>I'm an avid gaming, film, and comics nerd.</p>
    
    <%= link_to 'Home', root_path %>
    
    
  </body>
</html>