<!DOCTYPE html>
<html>
  <head>
    <title>AlphaBlog - Home</title>
   
  </head>

  <body>
    
    <h1>The AlphaBlog</h1>
    
    <p>Welcome to the AlphaBlog!  The #1 news and opinion source for games, movies, and comics.</p>
    
    <%= link_to 'About', about_path %>
    
    
  </body>
</html>